.collectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .title {
    font-size: 28px;
    margin: 0 0 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px 20px;
  }
}
