.homepageMenu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    .menuRow {
        display: flex;
        margin: 15px 0;
    }

    .twoItemRow {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .homepageMenu {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .homepageMenu {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .menuRow {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}