body {
    margin: 0;
    padding: 20px 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1000px) {
        & {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (max-width: 850px) {
        & {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: black;
}

.googleSignInBtn,
button {
    padding: 10px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.1px 3px rgba(0, 0, 0, 0.4);
    width: 150px;
    background-color: cornflowerblue;
    color: white;
    margin-top: 20px;
    transition: all 300ms ease;

    &:disabled {
        background-color: #eee;
        color: #999;
        box-shadow: none;
        pointer-events: none;
    }

    &.authFormToggleBtn {
        width: auto;
        color: black;
        background-color: transparent;
        box-shadow: none;
        margin-left: 15px;
        border: 1px solid;

        &:hover {
            background-color: cornflowerblue;
            color: white;
            border-color: cornflowerblue;
        }
    }

    &.googleSignInBtn {
        background-color: rgb(82, 132, 224);
        display: block;
    }
}

