.cartDropdown {
  background: #fafafa;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 100%;
  margin: 12px 0 0 0;
  height: 250px;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);

  button {
    width: 100%;
  }
}
