.cartDropdown {
  background: white;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 100%;
  margin: 12px 0 0 0;
  height: 350px;
  width: 300px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;

  .cartItems {
    overflow: auto;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
  }
}
